[Unit]
Description=Bluesky Queue Server (25-ID-C)
Wants=kafka.service
After=kafka.service
Requires=redis.service
After=redis.service

[Service]
Environment="BLUESKY_DIR=%h/bluesky"
ExecStart=/bin/bash -l -c 'micromamba activate haven && %h/src/queueserver/queueserver.sh'

[Install]
WantedBy=default.target
Alias=queueserver.service
